h1 {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
h2 {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
h3 {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
p {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
ul {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
code {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}
pre {
    font-family: serif;
    font-size: 55px;
    color: #fff;
    background-color: #000;
}